@model IEnumerable<DoAn_Web_SellClothes.Models.Feedback>

@{
    ViewBag.Title = "Feedback";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="my-4">Feedback</h1>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Phản hồi khách hàng
        </div>
        <div class="card-body">
            <table id="datatablesFeedback" class="table-responsive">
                <thead>
                    <tr>
                        <th>Tên khách hàng</th>
                        <th>Email</th>
                        <th>Nội dung phản hồi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td style="min-width:200px">@Html.DisplayFor(modelItem => item.FullNameUserFeedback)</td>
                            <td>@Html.DisplayFor(modelItem => item.EmailUserFeedback)</td>
                            <td>@Html.DisplayFor(modelItem => item.DescribeFeedback)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

