
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

<div class="container thanks-container text-center mt-5">
    <h2>Thanh toán thất bại, vui lòng thanh toán lại</h2>
    <div class="row mt-5">
        <div class="col-md-4 col-xl-3 col-12 mx-auto mb-3">
            <a href="@Url.Action("Index","Home")" class="btn btn-outline-dark py-2">
                Quay lại trang chủ
            </a>
        </div>
        <div class="col-md-4 col-xl-3 col-12 mx-auto">
            <a href="@Url.Action("Cart", "Cart")" class="btn btn-outline-dark py-2">
                Vào giỏ hàng
            </a>
        </div>
    </div>
</div>