@model DoAn_Web_SellClothes.Models.Product

@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="px-4">
    <h1 class="my-4">Thêm sản phẩm</h1>
    <div class="card mb-4 mx-auto" style="max-width:80vh">
        <div class="card-header">
            <i class="fas fa-shirt"></i>
            Thêm sản phẩm
        </div>
        @using (Html.BeginForm("AddProduct", "Manage", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="card-body">
                <div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
                        <label><b>Mời bạn nhập tên sản phẩm: </b> </label>
                        <input type="text" name="name" required />
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
                        <label><b>Mời bạn chọn hình: </b> </label>
                        <input type="file" name="img" required />
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
                        <label><b>Mời bạn nhập giá: </b> </label>
                        <input type="number" name="price" required />
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
                        <label><b>Mời bạn nhập mô tả: </b> </label>
                        <textarea style="min-height:150px" id="txtDescribe" name="Mota" required></textarea>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
                        <label><b>Mời bạn chọn loại sản phẩm: </b> </label>
                        @Html.DropDownList("Loai")
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
                        <label><b>Mời bạn chọn size: </b> </label>
                        @Html.DropDownList("Size")
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
                        <label><b>Mời bạn nhập số lượng: </b> </label>
                        <input type="number" name="quality" required />
                    </div>
                </div>

            </div>
            <input type="submit" class="btn btn-outline-success btn-fluid" value="Thêm" />
        }
    </div>
    <a class="btn btn-outline-dark" href="@Url.Action("Product","Manage")">Trở về</a>
</div>




