@model DoAn_Web_SellClothes.Models.ProductType

@{
    ViewBag.Title = "DeleteProductType";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="my-4">Xóa loại sản phẩm</h1>
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-Edit table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Tên loại sản phẩm</th>
                            <td>
                                @Html.DisplayFor(model => model.NameProductType)
                            </td>
                        </tr>        
                        <tr>
                            <th>Giới tính</th>
                           @if (Model.IdSex == 1)
                            {
                                <td>Nam</td>
                            }
                            else
                            {
                                <td>Nữ</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-outline-success btn-fluid" value="Xác nhận" />
        }
    </div>
    <button class="btn btn-outline-dark" onclick="history.back()">Trở về</button>


</div>