
.btn-fluid{
    width:100%;
    max-width:none;
}

.mybtn{
    width:8rem;
}
/*Thanh navbar với side*/
.fixed-top, .nav-fixed #layoutSidenav #layoutSidenav_nav, .nav-fixed .topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}



    #layoutSidenav #layoutSidenav_nav {
        transition: transform 0.15s ease-in-out;
        z-index: 1038;
        transform: translateX(-225px);
    }

    #layoutSidenav #layoutSidenav_content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: calc(100vh - 56px);
        margin-left: -225px;
    }

.sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    transform: translateX(0);
}

.sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1037;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

@media (min-width: 992px) {
    #layoutSidenav #layoutSidenav_nav {
        transform: translateX(0);
    }

    #layoutSidenav #layoutSidenav_content {
        margin-left: 0;
        transition: margin 0.15s ease-in-out;
    }

    .sidenav-toggled #layoutSidenav #layoutSidenav_nav {
        transform: translateX(-225px);
    }

    .sidenav-toggled #layoutSidenav #layoutSidenav_content {
        margin-left: -225px;
    }

        .sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
            display: none;
        }
}

.nav-fixed .topnav {
    z-index: 1039;
}

.nav-fixed #layoutSidenav #layoutSidenav_nav {
    width: 225px;
    height: 100vh;
    z-index: 1038;
}

    .nav-fixed #layoutSidenav #layoutSidenav_nav .sidenav {
        padding-top: 56px;
    }

        .nav-fixed #layoutSidenav #layoutSidenav_nav .sidenav .sidenav-menu {
            overflow-y: auto;
        }

.nav-fixed #layoutSidenav #layoutSidenav_content {
    padding-left: 225px;
    top: 56px;
}


.sidenav-menu .nav-link .nav-link-icon {
    margin-right: .5rem;
}

.topnav {
    height: 56px;
    z-index: 1039;
}

    .topnav .navbar-brand {
        width: 225px;
        margin: 0;
    }

    .topnav #sidebarToggle {
        color: rgba(255, 255, 255, 0.5);
    }



.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
    background-color: #212529;
    color: rgba(255, 255, 255, 0.5);
}

    .sidenav .sidenav-menu {
        flex-grow: 1;
    }

        .sidenav .sidenav-menu .nav {
            flex-direction: column;
            flex-wrap: nowrap;
        }

            .sidenav .sidenav-menu .nav .sidenav-menu-heading {
                padding: 1.75rem 1rem 0.75rem;
                font-size: 0.75rem;
                font-weight: bold;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.25);
            }

            .sidenav .sidenav-menu .nav .nav-link {
                display: flex;
                align-items: center;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                position: relative;
                color: rgba(255, 255, 255, 0.5);
            }

                .sidenav .sidenav-menu .nav .nav-link:hover {
                    color: #fff;
                }
                .sidenav .sidenav-menu .nav .nav-link.active {
                    color: #fff;
                }

                    .sidenav .sidenav-menu .nav .nav-link .nav-link-icon {
                        font-size: 0.9rem;
                        color: rgba(255, 255, 255, 0.25);
                    }
                .sidenav .sidenav-menu .nav .nav-link.active .nav-link-icon {
                    color: #fff;
                }


                        .sidenav .sidenav-menu .nav .nav-link .sidenav-collapse-arrow {
                            display: inline-block;
                            margin-left: auto;
                            transition: transform 0.15s ease;
                            color: rgba(255, 255, 255, 0.25);
                        }

                .sidenav .sidenav-menu .nav .nav-link.collapsed .sidenav-collapse-arrow {
                    transform: rotate(-90deg);
                }

            .sidenav .sidenav-menu .nav .sidenav-menu-nested {
                margin-left: 1.5rem;
                flex-direction: column;
               
            }

    .sidenav .sidenav-footer {
        padding: 0.75rem;
        flex-shrink: 0;
        background-color: #343a40;
    }
/* hết Thanh navbar với side*/


/*Màn hình login*/
.Login-label{
    margin-top:5rem;
    font-size:3rem;
    font-weight:600;
    letter-spacing:2rem;
}

.login-container {
    position: absolute;
    top: 30%;
    min-width: 25rem;
    border-radius: 1rem;
}

.login-head {
    background-color: #17a2b8;
    padding: .5rem 0;
    letter-spacing: 2.5px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

    .login-head p {
        color: white;
        font-size:1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        margin:0;
    }

    .login-body {
        padding: 1.5rem 2rem;
    }

    .login-body h6 {
        padding-top:.5rem;
        color: var(--text-color);
    }

    .login-input {
        outline:none;
        width: 100%;
        max-width: none;
        height: 2rem;
        border:none;
        border-bottom:1px solid rgba(0,0,0,.5);
    }

        .login-input:focus {
            border-bottom: 2px solid #17a2b8;
        }

        .login-btn {
            border-radius: 2rem;
            width: 100%;
            height: 2.8rem;
            max-width: none;
        }

/*Hết màn hình login*/

/*Màn hình thống kê*/
.statistical label{
    font-weight:600;
    margin:1rem 0 .5rem 1rem;
    font-size:1.2rem;
}
/*Table thống kê*/
.table-statistical {
    padding: 1rem;
    padding-bottom: 0;
    border: 2px solid var( --border-color);
    border-radius: 1rem;
}
/*hết màn hình thống kê*/
/*màn hình quản lý sản phẩm*/
.img-thumbnail {
    width: 4.7rem;
}
/*Hết màn hình quản lý sản phẩm*/



/*In*/
@media print{
    nav, footer, #layoutSidenav_nav, #groupBtnStatus {
        display: none;
    }
}
/*Hết in*/

